@import '../../styles/variables';

.a {
  padding: 2rem 0;
}

.link {
  border: .125rem solid $blue;
  border-radius: .25rem;
  color: $blue;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 1rem;
  outline: 0;
  padding: .25rem 2rem;
  text-decoration: none;
  -webkit-touch-callout: none;
  user-select: none;

  &:active {
    background: $blue;
    color: $white;
  }
}

.navBar {
  text-align: center;
}

.img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
