.a {
  padding: 2em 0;
}

.link {
  border: 2px solid #41addd;
  border-radius: 4px;
  color: #41addd;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 1em;
  outline: 0;
  padding: .25em 2em;
  text-decoration: none;
  -webkit-touch-callout: none;
  user-select: none;

  &:active {
    background: #41addd;
    color: #fff;
  }
}

.navBar {
  text-align: center;
}

.img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
