.root {
  margin: 4em 0;
  text-align: center;
  width: 100%;
}

.button {
  border: 2px solid #41addd;
  border-radius: 4px;
  box-sizing: border-box;
  color: #41addd;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  outline: 0;
  padding: 0.25em 2em;
  text-decoration: none;
  -webkit-touch-callout: none;
  user-select: none;

  &:active {
    background: #41addd;
    color: #fff;
  }
}
