.button {
  background-image: linear-gradient($red, darken($red, 8%));
  border: 0;
  border-radius: .25rem;
  color: $white;
  cursor: pointer;
  padding: .75rem .875rem;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-image: linear-gradient(darken($red, 8%), darken($red, 16%));
  }

  &:active {
    background-image: linear-gradient(darken($red, 24%), darken($red, 16%));
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: .25;
  }
}
