.root {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  max-height: 30em;
  overflow-y: auto;
  padding: 0 1em;
  width: 100%;
}
