.root {
  align-items: space-between;
  display: flex;
  height: 100%;
  width: 100%;
}

.issueLink {
  align-items: center;
  color: black;
  display: flex;
  height: 100%;
  justify-content: center;
}

.repoLink {
  align-items: center;
  color: black;
  display: flex;
  height: 100%;
  width: 100%;
}

.issueIcon {
  fill: #ccc;
  margin-right: .25em;
}
