@import '../../styles/variables';

.atPrefix {
  color: black;
  margin-left: .4rem;
}

.section {
  margin: 3rem auto;

  &:first-child {
    margin-top: 0;
  }
}

.centeredSection {
  composes: section;
  text-align: center;
}

.form {
  margin-bottom: 1rem;
}

.input {
  border-bottom: 1px dotted $aluminum;
  outline: none;
}
