@import '../../styles/variables.scss';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.root {
  height: 50px;
  margin: 2em auto;
  position: relative;
  width: 50px;
}

.loading {
  animation: spin 1s infinite linear;
  border: 0.5rem solid $gray;
  border-radius: 50%;
  border-top-color: $black;
  height: 100%;
  width: 100%;
}
